.form{
    width: 80%;
    position: relative;
    left: 10%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.form-fields{
    width: 100%;
    height: 40px;
    border: 1px solid rgb(108 117 125);
    border-top: none;
    border-right: none;
    border-left: none;
    padding: 7px 9px;
    color: rgb(108 117 125);
}
.btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-submit{
    width: 60%;
    height: 50px;
    border: none;
    border-radius: 20px;
    font-size: 17px;
    font-weight: 600;
}
.material-symbols-outlined{
    color: white;
    cursor: context-menu;
}
