@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Great+Vibes&family=Inter:wght@300;400;500;600&family=Josefin+Sans:ital,wght@0,300;0,500;1,700&family=Montserrat:wght@300;500&family=Nunito:wght@300&family=Prompt:wght@500&family=Roboto+Slab&display=swap');

*{
    font-family: 'Cinzel', serif;
font-family: 'Great Vibes', cursive;
font-family: 'Inter', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Prompt', sans-serif;
font-family: 'Roboto Slab', serif;

margin: 0;
padding: 0;
box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
}
.form{
    position: absolute;
    max-width: 430px;
    width: 100%;
    height: 80%;
    padding: 51px;
    padding-top:  50px;
    border-radius: 18px;
    border: 3px solid #E5E4E2;
    /* border-bottom: none; */
    border-right: none ;
    /* box-shadow: -9px 9px 28px -1px rgba(0,0,0,0.57);
-webkit-box-shadow: -9px 9px 28px -1px rgba(0,0,0,0.57);
-moz-box-shadow: -9px 9px 28px -1px rgba(0,0,0,0.57); */
}
.form.signup{
    opacity: 0;
    pointer-events: none;
}
.forms.show-signup .form.signup{
    opacity: 1;
    pointer-events: auto;
}
.forms.show-signup .form.login{
    opacity: 0;
    pointer-events: none;
}
header{
    font-size: 27px;
    /* font-weight: 600; */
    color: black;
    text-align: center;
}
.img-fluid{
    -webkit-box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.75);
box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.75);
}
form{
    margin-bottom: 48px;
    margin-top: 86px;
}
#form{
    margin-top: 42px;
}
form .field{
    position: relative;
    height: 45px;
    width: 100%;
    margin-top: 17px;
}
.input-container{
    margin-top: 40px;
}
.field input
{
    outline: none;
    height: 100%;
    width: 100%;
    border: 1px solid #c0c0c0;
    border-top: none;
    border-right: none;
    border-left: none;
    padding: 0px 40px;
    font-size: 14px;
    /* transition:  0.2s ease-in-out; */
    transition-timing-function: ease;
    background-color: transparent;
}
.field:focus + .bx{
    color: #0171d3;
}

.field input:focus{
    border-bottom: 2px solid black;
}
.eye-icon{
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 20px;
    color: black;
    position: absolute;
    cursor: pointer;
    padding: 5px;
}
.icons{
    position: absolute;
    left: 17px;
    transform: translateX(-50%);
    top: 18%;
    padding: 5px;
    font-size: 22px;
    color: black;
}
.field button{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 20px;
    border-radius: 6px;
    background-color: #0d47a1;
    color: #fff;
    transition: all 0.3s ease;
    cursor: pointer;
}
.field button:hover{
    background-color: #1976d2;
}
.err-icon{
    font-size: 15px;
  
}
hr{
    width: 34px;
    margin-left: 128px;
    border: 2px solid #c68e17;
    border-radius: 82px;
}
.form-link{
    text-align: center;
    margin-top: 21px;
    font-size: 15px;
    /* padding-bottom: 20px; */
}
.form a{
    color: darkslategray;
    text-decoration: none;
    font-size: 13px;
    margin-left: 218px;
}
#signup-clr{
    color: royalblue;
    /* text-decoration: none; */
    font-size: 15px;
    margin-left: 2px;
}
.form a:hover{
    text-decoration: underline;
}
#carousel-container{
    width: 55%;
    height: 480px;
    background-color: transparent;
}
#images{
    width: 89%;
    height: 99%;
    margin-top: 5px;
    margin-left: 244px;
    border-radius: 18px;
    /* box-shadow: -9px 9px 28px -1px rgba(0,0,0,0.57);
-webkit-box-shadow: -9px 9px 28px -1px rgba(0,0,0,0.57);
-moz-box-shadow: -9px 9px 28px -1px rgba(0,0,0,0.57); */
}
.form.login,.form.signup {
    margin-right: 439px;
  }
  @media (max-width: 991.98px) {
    .form.login, .form.signup {
      margin-right: 0;
    }
    }